<h2>Ajouter un user</h2>

<!--Template driven forms-->

<form #f="ngForm" (ngSubmit)="addUser(f)" >
  <div class="mb-3">
    <label for="name" class="form-label">Name *</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      #name
      ngModel
      required
      #t="ngModel">
    <div
      *ngIf="t.invalid && t.touched"
      class="error">
        Le champ name est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label
      for="email"
      class="form-label">
        Email *
      </label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      #auteur
      ngModel
      required
      #aut="ngModel">
      <div
      *ngIf="aut.invalid && aut.touched"
      class="error">
        Le champ auteur est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" #password ngModel>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="f.invalid" >Valider</button>
</form>


